*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering:optimizeLegibility;
}
body{
	font-family: 'Titillium Web', sans-serif;
	margin: 0;
	border: 0;
	padding: 0;
}
/* Inicio paleta de colores */
.plt-rojo{background-color: #c77144;}
.plt-celeste{background-color: #4ec7d5;/*89c0c0*/}
.plt-celestesuave{background-color: #e7f0f8;/*e0f0f7*/}
.plt-blanco{background-color: #ffffff;}
.plt-naranja{background-color: #ffc61c;/*ffd352*/}
.plt-rosado{background-color: #f8d66f;}
.plt-verde{background-color: #a0e007;/*b6e029*/}
.plt-verdeblack{background-color: #29b096;}
.plt-azul{background-color: #3c5499;/*325f92*/}
.plt-azulmedio{background-color: #344b8e;}
.plt-azulblack{background-color: #273a71;/*304581*/}
/* Fin paleta de colores */
/* Inicio fonts */
.font300{font-weight: 300;}
.font400{font-weight: 400;}
.font600{font-weight: 600;}
.font700{font-weight: 700;}
.font900{font-weight: 900;}
/* Fin fonts */

/* Inicio clases basicas */
.flex-display{
	width: 100%;
	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
}
.flex-wcenter{
	-webkit-justify-content: center;
  	-ms-flex-pack: center;
  	justify-content: center;
}
.flex-end{
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.flex-colum{
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

/* Fin clases basicas */

/*************** SLIDER PRINCIPAL ***************/
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('../img/slides/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('../img/slides/a22.png') center center no-repeat;
    overflow: hidden;
}
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }

/*************************************************************************************/
.ha-content{
		max-width: 1140px;
		width: 100%;
		padding: 0 20px 0 20px;
	}
	.session{min-height: 130px;}
	.session > div{margin: 95px 0 0 0;}
	.session .font700{
		font-size: 16px;
		color: #3c4761;
		margin: 0;
		cursor: pointer;
	}
	.logo{
		position: absolute;
		margin-top: -95px;
	}
	.logo > a > img {max-height: 187px;}
	.menu-content{
		height: 100px;
		margin: 0 0 0 225px;
	}
	.menu-content nav ul{
		list-style-type:none;
		margin: 0;
		padding: 33px 0 0 45px;
	}
	.menu-content nav ul li{
		float: left;
		margin: 0 0 0 25px;
	}
	.rh-title{
		font-family: 'vag rounded', sans-serif;
		font-weight: 900;
		font-size: 40px;
		color: #3c4761;
		margin: 100px 0 0 0;
		/*-webkit-flex: 1;
	  -ms-flex: 1;
	  flex: 1;*/
	}
	.rh-barra{
		margin: 12px auto 0 auto;
		width: 87px;
		height: 4px;
		background-color: #c5ccd3;
	}
	.rh-descript{
		margin: 15px 0 0 0;
		font-family: 'Titillium Web', sans-serif;
		font-weight: 300;
		font-size: 16px;
		color: #3c4761;
		text-align: center;
		max-width: 800px;
		padding: 0 35px 0 35px;
	}
	.rh-itemscontent{
		width: 100%;
		position: relative;
	}
	.rh-item{
		/*-webkit-flex: 1;
	  -ms-flex: 1;
	  flex: 1;*/
	  float: left;
	  width: 100%;
	  padding: 30px 0 80px 0;
	}
	.facil-img{
		height: 200px;
	}
	.rh-mintitle{
		font-family: 'Titillium Web', sans-serif;
		font-weight: 700;
		margin: 20px 0 0 0;
		justify-content: center;
		font-size: 24px;
		color: #3c4761;
	}
	.rh-mintitle>a{
		text-decoration:none;
		color: #3c4761;
	}
	.rh-cargo{
		color:#ffffff;
	}
	/* Inicio porque rehappy*/
	.pq-item{
		width: 49%;
	}
	/* Fin porque rehappy*/

	#escribenos,
	#escribenos .rh-title,
	#escribenos .rh-descript{
		color:#ffffff;
	}
	.social{
		height:110px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  padding: 20px;
	}
	.facebook{
		color:#fff;
		text-decoration: none;
		font-weight: 600;
		font-size: 24px;
	}
	.twitter{
		color:#30bae7;
		text-decoration: none;
		font-weight: 600;
		font-size: 24px;
	}
	.volver{
		position: fixed;
		z-index: 20;
		bottom: 120px;
		right: 35px;
	}
.pq-elementos{
	width: 100%;
	padding: 40px 0px 80px 0px;
}
.pq-item{
	display: inline-block;
	width: 100%;
	padding: 20px 0 20px 0;
}
.rh-pqimg{
	width: 96px;
}
.pq-contenttex{
	-webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 45px 0 45px;
}
.pq-title{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	font-size: 21px;
	color: #3c4761;
}
.pq-descript{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 21px;
	color: #3c4761;
}
/* Inicio form contacto */
.content-form{
	width: 100%;
	padding: 35px 0 80px 0;
}

input#rh-name,
input#rh-email,
#rh-coment{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	background-color: #273a71;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 17px 0 17px 24px;
  margin: 13px 1% 13px 1%;
  border-radius: 6px;
}
input#rh-name,
input#rh-email{
	width: 35%;
}
textarea#rh-coment{
	width: 72%;
}
input#rh-name::-webkit-input-placeholder,
input#rh-email::-webkit-input-placeholder,
textarea#rh-coment::-webkit-input-placeholder {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
  	color: #ddd;
  	font-size: 18px;
}
input#rh-name:-moz-placeholder,
input#rh-email:-moz-placeholder,
textarea#rh-coment:-moz-placeholder {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
  	color: #ddd;
  	font-size: 18px;
}
/* Fin form contacto */
	/* Inicio de boton */
	.menu-content nav ul li a,
	.bt-access
	{
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-size:16px;
		padding:5px 15px;
		text-decoration:none;
	}
	.menu-content nav ul li a:hover,
	.bt-access:hover {
		/*background-color:#ff4800;*/
	}
	.menu-content nav ul li a:active,
	.bt-access:active {
		position:relative;
		top:1px;
	}
	.bt-activo{
		-moz-box-shadow:inset 0px 39px 0px -24px #ff4700;
		-webkit-box-shadow:inset 0px 39px 0px -24px #ff4700;
		box-shadow:inset 0px 39px 0px -24px #ff4700;
		background-color:#ff4700;
		text-shadow:0px 1px 0px #ff4800;
	}
	/* Fin de boton */
/* Inicio de boton CENTRAL */
	.btc-content{
		position: relative;
	}
	.btc-content>.flex-display{
		position: absolute;
		z-index: 10;
		top:-120px;
	}
	.btc-access
	{
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;		
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-size:18px;
		padding:25px 5px;
		text-decoration:none;
	    font-weight:700;
	    font-family: 'Titillium Web', sans-serif;
	    width: 293px;
	    text-align: center;
	    margin: 0 11px;
	}
	.btc-access:hover {
		/*background-color:#ff4800;*/
	}
	.btc-access:active {
		position:relative;
		top:1px;
	}
	.btc-activo{
		-moz-box-shadow:inset 0px 39px 0px -24px #ff4700;
		-webkit-box-shadow:inset 0px 39px 0px -24px #ff4700;
		box-shadow:inset 0px 39px 0px -24px #ff4700;
		background-color:#ff4700;
		text-shadow:0px 1px 0px #ff4800;
		border-bottom: 4px solid #cc3300;
	}
	.btc-enviar{
		-moz-box-shadow:inset 0px 39px 0px -24px #33ccff;
		-webkit-box-shadow:inset 0px 39px 0px -24px #33ccff;
		box-shadow:inset 0px 39px 0px -24px #33ccff;
		background-color:#33ccff;
		text-shadow:0px 1px 0px #33ccff;
		border-bottom: 4px solid #3399cc;
		margin: 60px 0 0 0;
	}
	/* Fin de boton CENTRAL*/

	/* Inicio pop-regalar */
	.pop-regalar{
		position: fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
		height:560px;
		width:960px;
		background-color: rgba(255, 255, 255, 0.82);
		z-index: 30;
		border-radius: 60px;
		max-width: 100%;
	}
	.regalar-content{
		position: relative;
	}
	.bt-closeregalar{
		position:absolute;
		right: 70px;
		top: 45px;
		font-family: 'vag rounded', sans-serif;
		font-size: 40px;
		color: #333366;
		cursor: pointer;
	}
	.bt-closeregalar:active {
		top:46px;
	}
	.title-regalar{
		font-family: 'vag rounded', sans-serif;
		font-size: 40px;
		color: #333366;
		text-align: center;
		padding: 90px 0 0 0;
	}
	.input-buscacumple{
		height: 68px;
		width: 50%;
		font-family: 'Titillium Web', sans-serif;
		font-weight: 500;
		background-color: #ff3300;
		border: none;
		color: #fff;
		font-size: 18.5px;
		padding: 17px 0 17px 24px;
		margin: 20px 1% 13px 1%;
	}
	input.input-buscacumple::-webkit-input-placeholder {
		font-family: 'Titillium Web', sans-serif;
		font-weight: 500;
	  	color: #ddd;
	  	font-size: 18.5px;
	}
	input.input-buscacumple:-moz-placeholder {
		font-family: 'Titillium Web', sans-serif;
		font-weight: 500;
	  	color: #ddd;
	  	font-size: 18.5px;
	}
	.close-active{
		display: none !important;
	}
	/* Fin pop-regalar */


	/* INICIO INVITADO */
	.rh-pasos{
		margin: 25px 0 0 0;
	}
	.rh-pasos>ul{
		list-style-type: none;
		font-family: 'vag rounded', sans-serif;
		font-weight: 900;
		font-size: 21.9px;
		color: rgba(153, 153, 204, 0.82);
	}
	.rh-pasos>ul>li{
		float: left;
		margin: 0 20px;
	}
	.rh-subraya{
		margin: 12px auto 0 auto;
		width: 100%;
		height: 4px;
		background-color: #c5ccd3;
		opacity: 0;
	}
	.rh-flecha{
		-ms-transform: rotate(270deg); /* IE 9 */
	    -webkit-transform: rotate(270deg); /* Safari */
	    transform: rotate(270deg);
	    font-size: 30px;
    	margin: -5px 20px !important;
	}
	.rh-pasos .pasos-activado{
		color:#333366;
	}
	.rh-pasos .pasos-activado .rh-subraya{
		opacity: 1;
	}
	.rh-regaloscontent{
		position: relative;
		width: 100%;
		min-height: 200px;
		padding-bottom: 40px;
	}
	.rh-cestacontent{
		position: absolute;
		right: 0;
		top: 0;
		padding: 45px 0 0 0;
	}
	.rh-carrito{
		color:#333366;
		justify-content: flex-end;
		font-family: 'Titillium Web', sans-serif;
		font-weight: 700;
		font-size: 16px;
	}
	.rh-carrito > div{
		margin: -6px 0 0 5px;
	}
	#cantidad{
		color:#ff3300;
	}
	.rh-listproduct ul{
		list-style-type: none;
		font-family: 'Titillium Web', sans-serif;
		font-weight: 700;
		font-size: 16px;
		color: #ffffff;
	}
	.list-content{
		background: #66cccc;
		padding: 2px 8px 2px 20px;
		width: 230px;
		margin: 8px 0 0 0;
	}
	.list-nameproduct{
		padding: 3px 0px 0 0px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		flex:1;
	}
	.list-precio{
		padding: 3px 20px 0 5px;
	}
	.list-eliminar{
		font-family: 'vag rounded', sans-serif;
		font-weight: 900;
		font-size: 26.46px;
		color: #333366;
		cursor: pointer;
	}
	.precio-total{
		font-family: 'Titillium Web', sans-serif;
		font-weight: 700;
		font-size: 24.33px;
		color: #333366;
		margin: 20px 0 0 0;
		justify-content: flex-end;
	}

	.rh-filtrocontent{
		-webkit-flex-direction: column;
    	-ms-flex-direction: column;
    	flex-direction: column;
		padding: 25px 255px 0 110px;
	}
	.item-select{
		flex:1;
	}
	.rh-select{
		-webkit-appearance: none;
	    -moz-appearance: none;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -webkit-padding-end: 20px;
	    -moz-padding-end: 20px;
	    -webkit-padding-start: 2px;
	    -moz-padding-start: 2px;
	    background-color: #fff; /* fallback color if gradients are not supported */
	    background-image: url(../img/selector.png), -webkit-linear-gradient(top, #fff, #fff); /* For Chrome and Safari */
	    background-image: url(../img/selector.png), -moz-linear-gradient(top, #fff, #fff); /* For old Fx (3.6 to 15) */
	    background-image: url(../img/selector.png), -ms-linear-gradient(top, #fff, #fff); /* For pre-releases of IE 10*/
	    background-image: url(../img/selector.png), -o-linear-gradient(top, #fff, #fff); /* For old Opera (11.1 to 12.0) */ 
	    background-image: url(../img/selector.png), linear-gradient(to bottom, #fff, #fff); /* Standard syntax; must be last */
	    background-position: 95% 50%;
	    background-repeat: no-repeat;
	    border: 1px solid #ff3300;
	    border-radius: 2px;
	    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0);
	    color: #333366;
	    font-size: inherit;
	    margin: 0 0 0 20px;
	    overflow: hidden;
	    padding-top: 2px;
	    padding-bottom: 2px;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.rh-select:focus{
		outline-color: rgba(0,0,0,0);
	}
	.rh-select option{
		border:red;
		background-color: #fff;
	}
	.rh-productos{
		padding: 20px 0 0 0;
	}
	.rh-product{
		font-family: 'Titillium Web', sans-serif;
		color: #333366;
		float: left;
		padding: 8px 20px 8px 20px;
		margin: 5px 5px 0 5px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	.rh-product:hover {
  		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}
	.product-title{
		font-weight: 700;
		font-size: 14.87px;
		text-align: center;
	}
	.product-precio{
		font-weight: 700;
		font-size: 18.59px;
		text-align: center;
	}
	.product-select{
		font-weight: 400;
		font-size: 16px;
		justify-content: flex-end;
	}
	.bt-sino{
		height: 15px;
		width: 34px;
		border: 2px solid #333366;
		border-radius: 7px;
		position: relative;
		cursor: pointer;
		background-color: #fff;
		margin: 6px 3px 0 10px;
	}
	.bt-sino.check{
		background-color: #ff3300;
		-webkit-transition-delay: 500ms; /* Safari */
    	-moz-transition-delay: 500ms;
    	-o-transition-delay: 500ms;
    	transition-delay: 500ms;
	}
	.bt-sino > .sino-bolita{
		position: absolute;
		height: 15px;
		width: 15px;
		border: 2px solid #333366;
		border-radius: 50%;
		margin: -2px;
		top:0;
		left: 0;
		background-color: #fff;
		-webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   		-moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     	-o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
	}
	.bt-sino.check > .sino-bolita{
		left: 19px;
	}
	.bt-sino > .sino-rojo{
		height: 11px;
		width: 0px;
		border-radius: 5px;
		position: relative;
		background-color: #ff3300;
		margin: 0px 0px;
		top:0;
		-webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   		-moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     	-o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */	
	}
	.bt-sino.check > .sino-rojo{
		width: 30.4px;
	}
	.atras-despues{
		display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
    	-webkit-justify-content: space-between;
    	-ms-flex-pack: justify;
    	justify-content: space-between;
    	margin: 55px 0 0 0;
	}
	.ande-access
	{
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;		
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-size:18px;
		padding:11px 0 0 70px;
		text-decoration:none;
	    font-weight:600;
	    font-family: 'Titillium Web', sans-serif;
	    width: 220px;
	    height: 50px;
	    margin: 0 11px;
	}
	.ande-access:hover {
		/*background-color:#ff4800;*/
	}
	.ande-access:active {
		position:relative;
		top:1px;
	}
	.ande-rojo{
		-moz-box-shadow:inset 0px 39px 0px -24px #ff4700;
		-webkit-box-shadow:inset 0px 39px 0px -24px #ff4700;
		box-shadow:inset 0px 39px 0px -24px #ff4700;
		background-color:#ff4700;
		text-shadow:0px 1px 0px #ff4800;
		border-bottom: 4px solid #cc3300;
	}
	.ande-celeste{
		-moz-box-shadow:inset 0px 39px 0px -24px #33ccff;
		-webkit-box-shadow:inset 0px 39px 0px -24px #33ccff;
		box-shadow:inset 0px 39px 0px -24px #33ccff;
		background-color:#33ccff;
		text-shadow:0px 1px 0px #33cfff;
		border-bottom: 4px solid #3399cc;
	}
	.rh-listacontent{
		-webkit-flex-direction: column;
    	-ms-flex-direction: column;
    	flex-direction: column;
		padding: 25px 22px 0 110px;
	}
	.rh-orgflecha{
		-ms-transform: rotate(270deg); /* IE 9 */
	    -webkit-transform: rotate(270deg); /* Safari */
	    transform: rotate(270deg);
	    font-size: 30px;
    	margin: -5px 0px !important;
	}
	/* FIN INVITADO */


	/* INICIO ORGANIZADOR */
	.rh-invitacioncontent{
		padding: 25px 22px 0 20px;
	}
	.rh-form{
		-webkit-flex-direction: column;
    	-ms-flex-direction: column;
    	flex-direction: column;
    	max-width: 420px;
	}
	.rh-form label{
		flex:1;
		min-width: 104px;
		max-width: 104px;
		color:#ff3300;
		font-family: 'Titillium Web', sans-serif;
		font-weight: 700;
		font-size: 16px;
	}
	.rh-form input,
	.rh-form textarea{
		flex:3;
		border: 2px solid #333366;
		border-radius: 6px;
		min-height: 34px;
		font-family: 'Titillium Web', sans-serif;
		font-weight: 400;
		color: rgba(51, 51, 102, 1);
	  	font-size: 16px;
	  	padding-left: 5px;
	}
	.rh-form #fechaEvento{
		max-width: 160px;
		margin: 0 10px 0 0;
	}
	.rh-form .flex-display{
		margin: 8px 0 8px 0;
	}
	.rh-diseno{
		flex:1;
		padding: 5px 10px 0 40px;
	}
	.rh-modelo img{
		max-width: 570px;
	}
	input#evento::-webkit-input-placeholder,
	input#nombres::-webkit-input-placeholder,
	input#foto::-webkit-input-placeholder,
	textarea#descripcion::-webkit-input-placeholder {
		font-family: 'Titillium Web', sans-serif;
		font-weight: 400;
	  	color: rgba(51, 51, 102, 0.8);
	  	font-size: 14px;
	  	font-style: italic;
	}
	input#evento:-moz-placeholder,
	input#nombres:-moz-placeholder,
	input#foto:-moz-placeholder,
	textarea#descripcion:-moz-placeholder {
		font-family: 'Titillium Web', sans-serif;
		font-weight: 400;
	  	color: rgba(51, 51, 102, 0.8);
	  	font-size: 14px;
	  	font-style: italic;
	}
	/* FIN ORGANIZADOR */
	
	/* INICIO INVITADOS*/
	.rh-invitadocontent{
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 25px 30px;
	}
	.invitado-title{
		font-family: 'Titillium Web', sans-serif;
		font-weight: 700;
	  	color: rgba(51, 51, 102, 1);
	  	font-size: 16px;
	  	margin: 10px 0 15px 65px;
	}
	.ilinkedin,
	.ifacebook,
	.igoogle,
	.itwitter,
	.iwhatsapp{
		background-image: url(../img/invitados-redes.png), -webkit-linear-gradient(top, #fff, #fff); /* For Chrome and Safari */
	    background-image: url(../img/invitados-redes.png), -moz-linear-gradient(top, #fff, #fff); /* For old Fx (3.6 to 15) */
	    background-image: url(../img/invitados-redes.png), -ms-linear-gradient(top, #fff, #fff); /* For pre-releases of IE 10*/
	    background-image: url(../img/invitados-redes.png), -o-linear-gradient(top, #fff, #fff); /* For old Opera (11.1 to 12.0) */ 
	    background-image: url(../img/invitados-redes.png), linear-gradient(to bottom, #fff, #fff); /* Standard syntax; must be last */
	    background-repeat: no-repeat;
	    height: 76px;
	    width: 76px;
	    margin: 0 0 0 50px;
	    cursor: pointer;
	}
	.ilinkedin{
	    background-position: 0% 50%;
	}
	.ifacebook{
		background-position: 23% 50%;
	}
	.igoogle{
		background-position: 51% 50%;
	}
	.itwitter{
		background-position: 74% 50%;
	}
	.iwhatsapp{
		background-position: 96% 50%;
	}
	.inv-btdirectorio
	{
		-moz-border-radius: 6px;
	    -webkit-border-radius: 6px;
	    border-radius: 4px;
	    display: inline-block;
	    cursor: pointer;
	    color: #ffffff;
	    font-size: 14.88px;
	    padding: 3px 0 0 28px;
	    text-decoration: none;
	    font-weight: 600;
	    font-family: 'Titillium Web', sans-serif;
	    width: 130px;
	    height: 32px;
	    margin: 18px 11px;
	    -moz-box-shadow: inset 0px 39px 0px -24px #ff4700;
	    -webkit-box-shadow: inset 0px 39px 0px -24px #ff4700;
	    box-shadow: inset 0px 39px 0px -24px #ff4700;
	    background-color: #ff4700;
	    text-shadow: 0px 1px 0px #ff4800;
	    border-bottom: 2px solid #cc3300;
	}
	.inv-btdirectorio:hover {
		/*background-color:#ff4800;*/
	}
	.inv-btdirectorio:active {
		position:relative;
		top:1px;
	}
	.table-invitados{
		font-family: 'Titillium Web', sans-serif;
		margin: 15px 0 0 0;
	}
	.table-cabecera{
		color:#fff;
		font-weight: 600;
		font-size: 18px;
	}
	.table-cfila{
		background-color: #66cccc;
		text-align: center;
		height: 29px;
	}
	.table-content{
		color:#333366;
		font-weight: 400;
		font-size: 18px;
	}
	.table-fila{
		background-color: #fff;
		width: 100%;
		text-align: center;
		height: 29px;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
	.table-fila.fondo-celeste{
		background-color: #ccffff;
	}
	.table-cname,
	.table-name{
		flex:1;
	}
	.table-cmail,
	.table-mail{
		flex:2;
	}
	.table-cinvita,
	.table-invita{
		flex:1;
	}
	/* FIN INVITADOS*/

	/* INICIO ENVIA */
	.rh-envia{
		min-height: 250px;
		font-family: 'Titillium Web', sans-serif;
		font-weight: 600;
	  	color: rgba(51, 51, 102, 1);
	  	font-size: 24px;
	  	text-align: center;
	  	-webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	}
	/* FIN ENVIA*/
	
	/* INICIO AGREGADO JESUS*/

	.rh-formcontent{
		-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
		padding: 22px 255px 0 300px;
	}

	.rh-agregado{
		font-family: 'Titillium Web', sans-serif;
		color: #333366;
		float: left;
		padding: 8px 20px 8px 20px;
		margin: 5px 5px 0 5px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.ver-rojo{
		-moz-box-shadow:inset 0px 39px 0px -24px #ff4700;
		-webkit-box-shadow:inset 0px 39px 0px -24px #ff4700;
		box-shadow:inset 0px 39px 0px -24px #ff4700;
		background-color:#ff4700;
		text-shadow:0px 1px 0px #ff4800;
		border-bottom: 4px solid #cc3300;
	}

	.ver-activo
	{
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-size:18.59px;
		padding:2px 0 0 50px;
		text-decoration:none;
			font-weight:600;
			font-family: 'Titillium Web', sans-serif;
			width: 128px;
			height: 35px;
	}
	.ver-activo:hover {
		/*background-color:#ff4800;*/
	}
	.ver-activo:active {
		position:relative;
		top:1px;
	}

	.rh-agregado{
		font-family: 'Titillium Web', sans-serif;
		color: #333366;
		float: left;
		padding: 8px 20px 8px 20px;
		margin: 5px 5px 0 133px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}


	.regalo-img {
	  float: left;
	  width: 128px;
	  margin-left: -128px;
	}

	.form-inner{
		 margin: 0 0 0 30px;
	   padding-top: 34px;
	   padding-bottom: 10px;
	}

	.form-wrap {
	  float: right;
	  width: 100%;
	}

	.form-wrap label{
		float: left;
		margin-right: 10px;
		width: 100px;
		font-weight: 700;
		font-size: 14.87px;
		text-align: left;
		color: #ff4700;
	}

	.form-wrap input{
		padding: 5px;
		margin: 0 0 8px 0;
		width: 60%;
		border: 2px solid #333366;
		border-radius: 6px;
	}

	.form-wrap input.textarea{
		height:auto;
		min-height:100px;
		max-width:60%;
	}

	.metodo{
		float: left;
		width: 250px;
		margin-left: -200px;
	}

	.datos-pago{
		float: left;
		width: 90%;
		font-weight: 700;
		font-size: 14.87px;
		text-align: left;
		color: #ff4700;
		padding-left: 60px;
	}

	.rh-pagos{
		font-family: 'Titillium Web', sans-serif;
		color: #333366;
		float: left;
		padding: 8px 20px 8px 0px;
		margin: 5px 5px 0 133px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.input-pago{
		font-family: 'Titillium Web', sans-serif;
		color: #333366;
		float: left;
		width: 40%;
		padding: 8px 20px 8px 20px;
		margin: 0 5px 0 5px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.input-pago label{
		float: left;
		font-weight: 700;
		text-align: left;
		color: #ff4700;
	}

	.input-pago input{
		padding: 8px;
		margin: 5px 0 8px 0;
		border: 2px solid #333366;
		border-radius: 3px;
		font-family: 'Titillium Web', sans-serif;
		width: 100%;
		background-color: #F3F3F3;
	}

	.input-pago select{
		padding: 8px;
		margin: 5px 0 8px 0;
		border: 2px solid #333366;
		border-radius: 3px;
		width: 100%;
		font-family: 'Titillium Web', sans-serif;
		background-color: #F3F3F3;
	}

	.rh-subraya-metodo{
		margin: 12px auto 25px auto;
		width: 100%;
		height: 4px;
		background-color: #333366;
		opacity: 0;
	}

	.metodo-activado .rh-subraya-metodo{
		opacity: 1;
	}

	.metodo>ul{
		list-style-type: none;
		font-family: 'vag rounded', sans-serif;
		font-weight: 900;
		font-size: 15px;
		color: rgba(153, 153, 204, 0.82);
	}
	.metodo>ul>li{
		float: left;
		cursor: pointer;
	}

	.metodo .metodo-activado{
		color: #333366;
	}
	/* FIN AGREGADO JESUS*/

/* Tablet (medium) screens */
@media (min-width: 30em) {
	.rh-item{
	  width: 50%;
	  padding: 30px 0 80px 0;
	}
	/* Inicio de boton CENTRAL */
	/*.btc-access{
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border-bottom: 4px solid #cc3300;
		font-size:18px;
		padding:25px 5px;
    width: 295px;
    margin: 0 11px;

	}
	.btc-content{
		
	}*/
	.btc-content>.flex-display{
		top:-165px;
	}
  /* Fin de boton CENTRAL */
}
/* Large screens */
@media (min-width: 52em) {
	.pq-item{
		width: 49%;
	}
	.rh-item{
	  width: 25%;
	  padding: 30px 0 80px 0;
	}
	/* Inicio de boton CENTRAL */
	/*.btc-access{
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border-bottom: 4px solid #cc3300;
		font-size:18px;
		padding:25px 5px;
    width: 295px;
    margin: 0 11px;

	}
	.btc-content{
		margin: 0 0 0 0;
	}*/
	.btc-content>.flex-display{
		position: absolute;
		top:-270px;
	}
  /* Fin de boton CENTRAL */

	
}
